@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.text {
    font-family: 'Comfortaa';
    font-weight: 600;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: clamp(350px, 50vw, 600px);

    height: 100vh;
    margin: 0 auto;
}

.titleSpan {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}


.chooseLanguageInput {
    height: min-content;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Comfortaa';
    border-radius: 5px;
    padding: 5px;
}

.chooseLanguageInput>option:hover {
    background: transparent;
}

.input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}


.buttonSwitcher {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.switchButton {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: #ccc;
    color: #333;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switchButton.active {
    background-color: #4CAF50;
    color: white;
}

.switchButton:not(.active):hover {
    background-color: #bbb;
}

.settings {
    align-self: start;
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.settings * {
    font-family: 'Comfortaa';
    font-weight: 600;
}

.settingsSpan {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    max-height: 1000px;
}

.labelSetting {
    cursor: pointer;
}

#colorHightlight {
    padding: 0;
    cursor: pointer;

}

input[type="color"]::-moz-color-swatch {
    border: none;
}

.inputSetting {
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    align-self: start;
}
.functionalBtnsSpan{
    width:100%;
    display: flex;
    gap:5px;
    height: 45px;
}
.findBtn {
    padding: 15px 25px;
    width: 90%;
    color: white;
    
}
.clearBtn{
    width: 10%; 
    min-width: 45px;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.clearBtn > img {
    height: 50%;
}
.functionalBtnsSpan > button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    background-color: #4CAF50;
    padding: 0;
}
.functionalBtnsSpan > button:hover {
    background-color: #39753b;
}

.pair {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    grid-area: 1/1/2/2;
}

.disabled {
    max-height: 0;
}

.black {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 15px;
    background-color: greenyellow;
}